h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
@include tablet(){
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'PingFang TC','Microsoft JhengHei', 'Roboto', 'Noto-Sans-Han', sans-serif;
}

.header-menu-open{
    .back-to-top{
        right: calc(30% + 10px);
    }
    .header .header-bar .header-menu{
        transform: translateX(0);
    }
}
.back-to-top {
    display: none;
    color: black;
    font-size: 55px;
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: calc(50% - 490px);
    transition: all 0.8s;
    z-index: 100;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    @include desktop-1000() {
        right: 10px;
    }
}

.header {
    background: url(../img/header_desktop.png) no-repeat center right;
    background-size: cover;
    width: 100%;
    padding-bottom: 140px;
    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        i{
            color: white;
            display: none;
        }
        .header-logo {
            display: block;
            background: url(../img/logo_w.png) no-repeat center center;
            background-size: contain;
            width: 120px;
            height: 24px;
            @include hide-text;
            margin: 16px 0 10px 32px;
        }
        .header-menu {
            display: flex;
            li {
                position: relative;
                .header-menu-li-active{
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 10px;
                }
                .header-menu-tag {
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.2s;
                    z-index: 50;
                }
                a {
                    display: block;
                    color: white;
                    font-weight: bold;
                    position: relative;
                    padding: 17px 15px;
                    &:hover{
                        color: black;
                        background: rgba(255, 255, 255, 0.8);
                        border-radius: 5px;
                    }
                }
                .header-menu-home-droplist{
                    display: none;
                    position: absolute;
                    top: 56px;
                    right: -5px;
                    li{
                        background: rgba(255, 255, 255, 0.3);
                        overflow: hidden;
                        &:first-child{
                            border-radius: 5px 5px 0 0;
                        }
                        &:last-child{
                            border-radius: 0 0 5px 5px;
                        }
                        a{
                            white-space: nowrap;
                            padding: 18px 20px 17px 20px;
                            &:hover {
                                color: black;
                                background: rgba(255, 255, 255, 0.8);
                            }
                        }
                    }
                }
            }
            .header-menu-active i{
                transform: scaleY(-1) translateX(-50%);
            }
        }
    }
    .header-title {
        width: 60%;
        color: white;
        text-align: center;
        background:rgba(0, 0, 0, 0.35);
        padding: 5% 0 3% 0;
        margin: 67px auto 0 auto;
        h1 {
            font-size: 36px;
            margin-bottom: 22px;
        }
        p {
            display: flex;
            justify-content: center;
            padding-bottom: 5px;
            span{
                margin: 0 5px;
            }
        }
    }
    @include tablet(){
        .header-title {
            width: 75%;
        }
    }
    @include mobile(){
        background: url(../img/header_mobile.png) no-repeat center center;
        background-size: cover;
        .header-bar {
            .header-menu-icon{
                display: block;
                font-size: 24px;
                padding: 13px 15px;
            }
            .header-menu {
                width: 30%;
                flex-direction: column;
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                transform: translateX(130%);
                transition: all 0.6s;
                background: rgba(255, 255, 255, 0.8);
                background: rgba(0, 0, 0, 0.8);
                border-radius: 5px 0 0 5px;
                z-index: 50;
                &::before {
                    content: "\f057";
                    display: flex;
                    justify-content: flex-end;
                    font-size: 24px;
                    font-family: "Font Awesome 5 Free";
                    color: white;
                    padding: 13px 15px;
                }
                .header-menu-home{
                    i{
                        left: calc(100% - 20px);
                        bottom: calc(100% - 35px);
                        transform: translateX(-50%);
                        transform: none;
                        transform: rotate(90deg);
                    }
                    .header-menu-home-droplist{
                        position: relative;
                        top: 0;
                        li{
                            a{
                                width: 100%;
                            }
                        }
                    }
                }
                .header-menu-active i{
                    transform: rotate(180deg) translateY(5px);
                }
            }
        }
        .header-title {
            width: 94%;
            h1{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.footer {
    color: #3D1101;
    background: #efeae7;
    display: flex;
    justify-content: space-between;
    padding: 50px 42px;
    li {
        width: 31.33%;
        margin: 0 1%;
        h3 {
            margin-bottom: 16px;
        }
        p {
            line-height: 1.4;
            @include tablet(){
                font-size: 14px;
            }
        }
        .footer-contact {
            width: 100%;
            display: block;
            list-style: disc;
            padding-left: 24px;
            li {
                width: 100%;
                font-size: 16px;
                line-height: 1.4;
                margin: 0;
                @include tablet(){
                    font-size: 14px;
                }
                a{
                    text-decoration: none;
                    color: #3D1101;
                }
            }
        }
        div {
            font-family: 'Noto Sans TC';
            font-weight: 900;
            font-size: 50px;
            text-align: right;
            white-space: nowrap;
            margin-bottom: 22px;
            @include desktop-1000(){
                font-size: 5vw;
            }
            @include mobile(){
                font-size: 50px;
            }
        }
        .social-link{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            margin: 0;
            li{
                display: block;
                line-height: 0;
                width: 12%;
                margin: 0 1%;
                a{
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    padding-bottom: 100%;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    @include mobile(){
        flex-direction: column;
        align-items: center;
        padding: 50px 1%;
        li {
            width: 90%;
            margin: 15px 1%;
            .social-link{
                flex-direction: row;
            }
        }
    }
}

.animated{
    opacity: 0;
    transition: all 1.2s;
}
.animated_fadeIn{
    opacity: 1;
}

.inputIcon{
    position: relative;
    &:before{
        position: absolute;
        color: rgba(61, 17, 0, 0.5);;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: attr(data-icon);
        font-size: 14px;
        padding: 11px 10px 10px 10px;
    }
}