.login {
    background: #EFE9E7;
    color: #3D1101;
    padding: 50px 0;
    h2, h3 {
        text-align: center;
    }
    h2 {
        font-family: 'Noto Sans TC';
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 10px;
    }
    h3 {
        font-family: 'Noto Sans TC';
        font-weight: 500;
        margin-bottom: 35px;
    }
    .login-info{
        width: 300px;
        border-top: 3px solid #FF5E45;
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
        padding: 15px;
        margin: 0 auto;
        h4{
            text-align: center;
            font-family: 'Noto Sans TC';
            font-weight: 900;
            margin-bottom: 16px;
        }
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
        input[type='email'], input[type='password']{
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            box-shadow: 0px 1px 0px 0px #ECECEC;
            padding: 10px 9px 10px 27px;
        }
        input[type='email']{
            margin-bottom: 15px;
        }
        input[type='password']{
            margin-bottom: 3px;
        }
        a.forget-password{
            display: block;
            font-size: 14px;
            color: #FF5E45;
            margin-bottom: 30px;
        }
        .login-btn{
            display: flex;
            justify-content: space-between;
            a, input[type='submit']{
                font-size: 14px;
                color: #FFFFFF;
                border-radius: 3px;
                &:hover {
                    opacity: 0.6;
                }
            }
            a{
                display: block;
                background: rgba(0, 0, 0, 0.35);
                padding: 11.5px 48.5px;
            }
            input[type='submit']{
                background: #F56C23;
                border: none;
                padding: 9px 48.5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

